<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Visualizer</title>
</head>
<body>
    {% include "notifications.html" %}
    {% include "header.html" %}
    
    <h1>We couldn't find a Visualizer with the key "{{key}}" or there was an error in our code</h1>
    <h3>You could try to:</h3>

    {% include "footer.html" %}
</body>
</html>