<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
</head>
<body>

    <style>

        body {
            font-family: sans-serif;
            color: black;
        }

        h1 {
            margin-left: 10px;
        }

        h3 {
            margin-left: 10px;
            font-size: 15px;
        }



        a {
            transition: .3s ease-out all;
            color: #4fa7ff;
            font-family: sans-serif;
        }

        a:hover {
            text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.404);
        }

    </style>

    {% include "notifications.html" %}
    {% include "header.html" %}
    
    <h1>We couldn't find a Visualizer with the key "{{key}}" or there was an error in our code</h1>
    <h3 style="margin-bottom: 0px;">You could try to:</h3>
    <ul>
        <li><a href="{{ url_for('sharedVisualiser') }}/{{key}}/">Reload</a> the page</li>
        <li>Check the key again</li>
        <li>Enter a valid key</li>
        <li><a href="{{ url_for('vislist') }}">Create</a> your own Visualizer</li>
    </ul>

    {% include "footer.html" %}
</body>
</html>