<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed | All Visualizer</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>

    {% include "notifications.html" %}

    <canvas id="canvas"></canvas>

    <script>

        const chartCanvas = document.getElementById("canvas");
        const labels = []
        const values = []

        {% for label in labels %}
            labels.push("{{label}}")
        {% endfor %}

        {% for value in values %}
            values.push("{{value}}")
        {% endfor %}

        var chart = new Chart(chartCanvas, {
            type: "bar",
            data: {
                labels: labels,
                datasets: [{
                    label: '{{label}}',
                    data: values,
                    fill: true,
                    borderColor: "#000",
                    backgroundColor: "rgba(79, 167, 255, 0.2)",
                    borderColor: "rgb(79, 167, 255)",
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });

    </script>

</body>
</html>