<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Embed error</title>
</head>
<body>
    {% include "notifications.html" %}
    {% include "header.html" %}
    
    <h1>Embed was corrupt</h1>
    <p>Try again with a now embed link</p>


    {% include "footer.html" %}
</body>
</html>