body {
    padding: 0px 0px 0px 0px !important;
    margin: 0px !important;
    background: #ffffff;
    height: 100vh;
    position: relative;
}

footer {
    position: relative !important;
    bottom: 0px;
}