<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <div class="viewer">
        <canvas id="canvaschart"></canvas>
    </div>
    <div class="sidebar">
        <div class="settings" id="settings">
            <h1>Settings</h1>
            <label for="title"></label>
            <input type="text" id="title" name="title" onchange="update()">
            <div class="data expandable-open">
                <p>Miniise</p>
                <input type="text" class="label" placeholder="Label" onchange="update()">
                <input type="number" class="value" placeholder="Value" onchange="update()">
                <br>
                <button onclick="addMoreData()">Add more data</button>
            </div>
        </div>
        <div class="funfacts">
            <h1>Funfacts</h1>
        </div>
        <div class="info">
            <h1>Info</h1>
        </div>
    </div>

    <script>

        const chartCanvas = document.getElementById("canvaschart").getContext("2d");
        const labels = document.getElementsByClassName("label");
        const values = document.getElementsByClassName("value");
        var labelValues = [];
        var valueValues = [];

        update();

        function update() {

           
            labelValues = [];
            valueValues = [];
            for (i = 0; i < labels.length; i++) {
                labelValues.push(labels[i].value);
                valueValues.push(values[i].value);
            }

            if ("{{ visualizer }}" == "bar") {
                /*
                BAR
                */
                
                var chart = new Chart(chartCanvas, {
                    type: "bar",
                    data: {
                        labels: labelValues,
                        datasets: [{
                            label: document.getElementById("title").value,
                            data: valueValues,
                            fill: true,
                            borderColor: "#000"

                        }]
                    },
                    options: {
                        responsive: false
                    }
                });

            }
        }


        function addMoreData() {
            const settings = document.getElementById("settings");
            const dataDiv = document.querySelector("#settings > div.data");
            
            labelValues = [];
            valueValues = []
            for (i = 0; i < labels.length; i++) {
                labelValues.push(labels[i].value);
                valueValues.push(values[i].value);
            }

            dataDiv.removeChild(dataDiv.lastChild);
            dataDiv.removeChild(dataDiv.lastChild);

            dataDiv.innerHTML += '<input type="text" class="label" placeholder="Label" onchange="update()"><input type="number" class="value" placeholder="Value" onchange="update()"><br><button onclick="addMoreData()">Add more data</button>';

            ri = 0
            for (i = 0; i < labelValues.length; i++) {
                if (labelValues.length < i) {
                    break;
                } else {
                    labels[i].value = labelValues[i];
                    values[i].value = valueValues[i];
                }
                ri++;
            }

        }

    </script>

    <style>

        body {
            display: flex;
            flex-direction: row;
        }
        
        .viewer {
            width: 65%;
            overflow: hidden;
        }

        .sidebar {
            width: calc(35% - 5px);
            border-left: 4px solid black;
            overflow: hidden;
            
        }

        .settings {

        }

        #canvaschart {
            width: 100%;
        }

    </style>

</body>
</html>